/*{
margin: 0;
padding: 0;
}*/

@keyframes moving{
0%{left: -100%;


	}
100% {

left:0.9% ; 
}
}


@keyframes droping{


0% {top: -70%;
position:absolute;
left: 20%;

}

100% {
	
	top:33% ;
	position: absolute;
	
	}
}

@keyframes droping2{


0% {top: -70%;
position:absolute;
left: 35%;

}

100% {
	
	top:33% ;
	position: absolute;
	
	}
}


html
{margin: 0;
padding: 0;
font-family: Times;
font-weight: 500;
background-color: rgba(26, 125, 255, 0.1);
}

h1 {
text-align: center;
color: rgb(26, 125, 255);
text-shadow: 2px 2px 3px white, 1px 1px 1px black;
font-weight: 700;
font-family: Helvetica;
margin: 0;

}


#my-body{
display: flex;
flex-direction: column;
align-items: center;
}

#def{
display: flex;
width: 40%;
}

h1, #main-doc, #def, #alphabet, #wrong{
margin-bottom: 10px;

}

#def-b{
margin-right: 5px;
}


#main-doc{

position:relative;
animation-name: moving;
animation-duration: 4s;

}

#alphabet{
overflow-y: hidden;
position: relative;

width: 40%;
padding: 1%;
background-color: white;
box-shadow: 3px 3px  black, -2px -2px black, 1px 1px black, -1px -1px black;
border: solid rgb(26, 125, 255) 3px;

}

#main-doc input{
width: 30px;
margin: 3px;
border:0px;
border-bottom: solid blue 2px;
font-size: 27px;
background-color: none;
text-align: center;
/*animation-name: droping;
animation-duration: 2s;
*/
}



#alphabet button {
width: 40px;
height: 40px;
margin: 5px;
cursor: pointer;
position: relative;
font-size: 25px;
background-color: rgb(255, 155, 26);
transition: background-color 5s;
animation-name: moving;
animation-duration: 4s;
}


#alphabet button:hover{
background-color: rgba(255, 155, 26, 0.3);
box-shadow: 2px 2px black;

}

#wrong{
position: relative; 
margin-top: ;
margin-left: ;
text-align: left;
width:40%; 
}



#g-over2, #g-over{
display: none;
position: fixed;
width: 290px;
height: 170px;
top: 33%;
left: 35%;
color: white;
z-index: 10;
text-align: center;
dragabble: yes;
border-radius: 20%;
box-shadow: 5px 5px 5px black;
padding-top: 20px;
animation: droping2;
animation-duration:4s;
}

#w-word{
font-family: Arial, Times;
font-weight: 700;
}

#g-over{
background-color: red;
}

#g-over2{
background-color: green;
}

.start{
width: ;
height: 40px;
background-color: white;
cursor: pointer;
border:2px solid grey;
font-weight: 700;
border-radius: 40%;
}

.start:hover{
background-color: wheat;
}



@media(max-width:600px){
	
#wrong, #def{
width: 80%;
}

#alphabet{
overflow-y: hidden;
position: relative;
margin-right: ;
margin-left: ;
margin-top: 0; 
width: 80%;
padding: 1%;

border: solid rgb(26, 125, 255) 3px;
}


#g-over, #g-over2{
animation: droping;
animation-duration:4s;
top: 33%;
left: 20%;
}

#main-doc input{
width: 28px;
font-size: 22px;
}

}


#cover{
position: fixed;
top: 0;
left: 0;
display: none;
width: 100%;
height: 100%;
z-index: 8;
opacity: 0.2;
}




#over-txt{
margin-top: 20vw;
}
